body{
    margin: 0;
    padding: 0;
}
.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient(circle, #509dd2, #9989cf, #d170a3, #db6b61, #b57f24);
}
chat-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}
.canvas{

    background: #50D2CC;
    border: 1px solid black;

}
